<div style="background-image: url(assets/side4.gif); margin-top: -60px;">

      <div style="width: 936px; margin: 0 auto; background-color: #fff;">
      	<div style="height:282px;">
      		<div style="float:left; width:40%;"><img src="assets/logo.jpg" width="374px"></div>
      		<div style="float:right; width:60%;text-align:center;">
            <div style=""><p style="padding-top:100px; line-height:1.3;"><font color="#FF0000" face="Impact" size="6">Coming Soon...<br />To a City Near You</font><p></div>
      			</div>
      	</div>
      	<div style="text-align:center;">
      		<img border="0" src="assets/areyoupaying.gif" width="905" height="59"></h1>
            <p align="center"><font face="Impact" size="5">Let us show you how 
            to buy 100% Indian Remy Hair<br /><br />
            </font><font color="#FF0000" face="Impact" size="6">At Wholesale 
            Cost!</font></p>
            <p align="center"><font face="Impact" size="4">When: July 22, 2012<br>
            Time: 2:30 P.M.<br>
            Location: Greater Grace 23500 W.<br>
            Seven Mile Rd, Detroit, Michigan 48219</font></p>
            <p align="center"><font face="Impact" size="4">1-866-281-6249</font></p>
            <p align="center"><font face="Impact" size="4">Contact Us At:<a href="mailto:deborahglass77@gmail.com?subject=Information"> info@blackpridebeauty.com</a></font></p>
            <p align="center"><font face="Impact" size="4">
            www.blackpridebeauty.com</font>

      	</div>
<div style=""><img border="0" src="assets/footer.gif" width="910" height="228"></div>





      </div></div>