<% content_for :nav_links do %>
    <div class="nav-collapse">
      <ul class="nav pull-right">
      	<li class="divider-vertical"></li>
        <li><%= link_to 'About', static_about_path %></li>
        <li class="divider-vertical"></li>
        <li><%= link_to 'Help', static_help_path %></li>
        <li class="divider-vertical"></li>
		<li><%= link_to 'Sign In', root_path %></li>
		<li class="divider-vertical"></li>
      </ul>
    </div>
<% end %>
<center><h3>Create Account</h3></center>
<hr class="soften"></hr>
<%= render :partial => 'form' %><br />
<hr class="soften"></hr>
<center><h2>Choose between the following 3 account types</h2></center><br />

<div class="accounts-container">
	<section>
<div class="accounts">
<h2><center><span class="label label_package_1">Platinum</span><center></h2>
<p>as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncov</p>

</div>
<div class="accounts">
<h2><center><span class="label label_package_2">Gold</span></center></h2>
<p>as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncov</p>

</div>
<div class="accounts">
<h2><center><span class="label label_package_3">Free</span></center></h2>
<p>as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncov</p>


</div>
</section>
</div>
</div>