/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require account
 *= require user
*/

.center{text-align: center;}
a.plain_button{
    border: 1px solid #CCCCCC;
    box-shadow: none;
    color: #fff;
    font-weight: bold;
    margin: 0 0 0 5px;
    padding: 8px 10px;
    width: auto;
    text-decoration: none;
}
a.plain_button:hover{
    text-decoration: none;
}

.center{text-align:center;}
.notifyMessage { padding: 7px 10px; font-weight: bold; margin: 10px 0; display: none; }
.notifySuccess { border: 1px solid #C1D779; background: #EFFEB9; display: block; }
.notifyError { border: 1px solid #E18B7C; background: #FAD5CF; display: block; }


.notification {
	height: 51px; overflow: hidden; position: relative; margin-bottom: 20px; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px;
	-moz-box-shadow: 1px 1px 2px #ddd;
}
.notification p { margin: 14px 10px 0 75px; font-size: 13px; color: #333; }
.notification a.close {
	position: absolute; width: 14px; height: 14px; top: 5px; right: 5px; background-image: url(close.png); background-repeat: no-repeat; border:1px solid; }
.notification a.close:hover { cursor: pointer; }
.msginfo a.close { background-position: -42px 0; }
.msginfo a.close:hover { background-position: -42px -14px; }
.msgerror a.close { background-position: 0 0; }
.msgerror a.close:hover { background-position: 0 -14px; }

.msginfo { border: 1px solid #99c4ea; background: #d1e4f3 url(notifications.png) no-repeat 0 -156px; }
.msgerror { border: 1px solid #e18b7c; background: #fad5cf url(notifications.png) no-repeat 0 0; }

.label_package_1{background-color: #999999 !important;}
.label_package_2{background-color: #F89406 !important;}
.label_package_3{background-color: #3A87AD !important;}
.label_package_1 a, .label_package_2 a, .label_package_3 a{color:#ffffdd !important;}

.sign-in{width:30%; margin:0 auto;}
.sign-up{width:30%; margin:0 auto;}
.field{width:50%; float:left; margin-bottom:20px;}
.accounts{width:30.33%; float:left; padding: 0 1.5% 0 1.5%;}
.accounts-container{width:80%; margin: 0 auto;}
.accounts-container-inside{width:100%; margin: 0 auto;}
.actions{text-align:center;}
