<div class="hero-unit">
	<h1>Upgrade your account and win!</h1>
	<p>With the platinum package you can invite other people to join Black Pride Beauty and get a percentage of their earnings </p>
	<p>
</div>
	<div class="row-fluid">
		<div class="span4">
			<h3>Platinum</h3>
			<h6>$299/month</h6>
			<p>Explain Platinum Package</p>
		</div>

		<div class="span4">
			<h3>Gold</h3>
			<h6>$199/month</h6>
			<p>Explain Gold Package</p>

		</div>

		<div class="span4">
			<h3>Free</h3>
			<p>Explain Free Package</p>

		</div>
	</div>
</div>
